# Dependencies
node_modules/

# Environment - JANGAN PERNAH COMMIT
.env
.env.local
.env.production

# Coverage
coverage/

# Build
dist/

# Drizzle migration output
drizzle/

# Sonar
.scannerwork/

# OS
.DS_Store
Thumbs.db
.kiro/
notes/
